<div class="header-container">
  <div class="logo">
    <a href="#">CONSOLE-UI-NG</a>
  </div>
  <ul nz-menu nzMode="horizontal" nzTheme="light">
    <li nz-menu-item nzSelected>Home</li>
    <li nz-menu-item>Link</li>
    <li nz-menu-item nzDisabled>Disabled</li>
    <li nz-submenu nzTitle="Dropdown" nzIcon="down">
      <ul>
        <li nz-menu-item>Action</li>
        <li nz-menu-item>Another action</li>
        <li nz-menu-item>Something else</li>
      </ul>
    </li>
  </ul>
  <div class="search-box">
    <nz-input-group [nzSuffix]="suffixIconSearch">
      <input type="text" nz-input placeholder="Search" />
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <span nz-icon nzType="search"></span>
    </ng-template>
  </div>
</div>