<ul nz-menu nzMode="inline" nzTheme="light" dir="ltr">
    <li nz-menu-item [routerLink]="['/intro']">介绍</li>
    <li nz-menu-item [routerLink]="['/intro/getting-started']">快速上手</li>
    <li nz-menu-item [routerLink]="['/intro/changelog']">更新日志</li>
    <li nz-menu-group nzTitle="Components">
        <ul>
            <li nz-submenu [nzOpen]="true" *ngFor="let mg of navComps" [nzTitle]="mg.title">
                <ul>
                    <li nz-menu-item *ngFor="let m of mg.children" [routerLink]="m.routerLink">{{m.title}}</li>
                </ul>
            </li>
        </ul>
    </li>
</ul>