<nz-layout>
  <nz-header>
    <cui-showcase-layout-header></cui-showcase-layout-header>
  </nz-header>

  <nz-layout>
    <nz-sider width="280">
      <cui-showcase-layout-sider></cui-showcase-layout-sider>
    </nz-sider>

    <nz-layout>
      <nz-content id="cui-layout-workbench">
        <div class="py-4 px-5 bg-light">
          <div class="py-3 px-5 bg-white">
            <router-outlet></router-outlet>
          </div>
        </div>
        <cui-showcase-layout-footer></cui-showcase-layout-footer>
      </nz-content>
    </nz-layout>
  </nz-layout>

</nz-layout>